/* Styles common for Entire Page */
.App {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
button {
  cursor: pointer;
  font-family: Raleway;
  font-style: normal;
  border: none;
  background-color: transparent;
}
.material-icons {
  align-self: center;
}
div {
  text-align: center;
}
.error {
  text-align: left;
  color: tomato;
  font-size: 14px;
  padding: 10px 0;
}
/* End of styles common for Entire Page */

/* SideBar Styles */
.sidebar {
  width: 30%;
  min-height: 100vh;
  background-color: #1e213a;
}
/* Search for Locations */
.sidebar-header {
  padding: 5% 8%;
}
.search-locations {
  display: flex;
  justify-content: space-between;
  color: #e7e7eb;
}
.search-locations-button {
  padding: 2% 5%;
  align-self: center;
  height: 40px;
  background: #6e707a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #e7e7eb;
  font-weight: 500;
  font-size: 16px;
}
.search-locations-button:hover {
  background-color: #c88c32;
  box-shadow: none;
}
.icon-container {
  cursor: pointer;
  padding: 2px;
  background: #6e707a;
  border-radius: 50%;
  height: 33px;
  width: 33px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.icon-container:hover {
  background-color: #c88c32;
}
/* Weather of Selected Location */
.sidebar-sky-wrapper {
  position: relative;
  height: 325px;
  width: 100%;
}
.sidebar-sky {
  height: 100%;
  width: 100%;
  position: absolute;
  background: url("images/Cloud-background.png");
  background-size: contain;
  background-repeat: repeat-y;
  filter: opacity(0.1) drop-shadow(0 0 0 #1e213a);
}
.sidebar-sky > img {
  width: 100%;
}
.image-container {
  left: 40%;
  position: absolute;
  width: 25%;
  top: 128.28px;
  height: 100%;
}
/* Today's Weather */
.temp-today {
  font-weight: 500;
  font-size: 144px;
  color: #e7e7eb;
}
.temp-unit {
  font-size: 45px;
  color: #a09fb1;
}
.weather-state-name {
  font-weight: 600;
  font-size: 36px;
  color: #a09fb1;
  padding: 70px 0;
}
.date-container,
.location-container {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 18px;
  color: #88869d;
}
.location-container {
  padding: 10px 0 0;
}
span.location-name {
  align-self: center;
}
.date::before {
  content: "\2219";
  padding: 0 15px;
}
/* Choose Location */
.search-location-container {
  color: #e7e7eb;
  margin: 0 30px;
}
.search-location-header {
  text-align: right;
  padding: 10px 0;
  font-size: 24px;
}
.close-button {
  cursor: pointer;
}
.search-box {
  margin-bottom: 25px;
}
.select-location-container {
  display: flex;
  justify-content: space-between;
}
.select-location-button {
  text-align: left;
  padding: 10px;
  width: 60%;
  color: #616475;
  font-size: 19px;
  border: 2px solid #616475;
}
.select-location-button:hover {
  border-color: #e7e7eb;
}
.placeholder {
  align-self: center;
  padding-left: 5px;
}
.search-button {
  color: #e7e7eb;
  font-size: 19px;
  background-color: #3c47e9;
  padding: 10px 5px;
  width: 30%;
}
.select-button-contents {
  display: flex;
}
.selected-option {
  color: #e7e7eb;
}
.select-location-options {
  font-size: 19px;
  padding: 10px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}
.select-location-options:hover {
  border: 1px solid #616475;
  cursor: pointer;
}
.select-location-options:hover::after {
  content: ">";
  text-align: right;
  float: right;
}
/* End of SideBar Styles */
